
* {
    margin: 0;
    padding: 0;
}

.breadcrumb {
    /* Rectangle 23 */
    position: absolute;
    width: 1600px;
    height: 148px;
    left: 0%;
    right: 0%;
    top: 75px;
    
    background: rgb(248, 243, 244);

    &__left {
        /* NEW ARRIVALS */
        display: flex;
        width: 194px;
        height: 29px;
        left: 14.37%;
        right: 73.5%;
        top: 44.59%;
        color: rgb(241, 109, 127);
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: center;
    }
}

.filter-sort {
    display: flex;
    top: 150px;
    margin-bottom: 64px;
    position: relative;
}

.filter {

    padding-top: 13px;
    width: 360px;
    // position: absolute;
    background-color: #fff;

    &[open] {
        transition: 0.3s;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__head {
        color: #EF5B70;
    }

    &[open] path {
        fill: #EF5B70;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;
    }

    &__head {
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__content {
        width: 360px;
        padding: 0px 16px 16px;
        background-color: #fff;
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 19px;
    }


    &__item[open] .filter__heading {
        color: #EF5B70;
    }


    &__heading {
        display: flex;
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid #EF5B70;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        color: #6F6E6E;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.sort {
    display: flex;
    position: absolute;
    left: 490px;
    top: 39px;
 
    &__item {
        display: flex;
    }
}
 .bott__content {
    display: flex;
    width: 1140px;
    height: 1749px;
    left: 230px;
    right: 230px;
    top: 355px;
    bottom: 1111px;
     &__containerc{
        display: flex;
        flex-direction: row;
        margin-bottom: 48px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 1400px;
        height: 1749px;
        left: 230px;
        right: 230px;
        
     }
}
.pagination {
    // display: flex;
    position: absolute;
    width: 284px;
    height: 44px;
    left: 660px;
    right: 660px;
    top: 2200px;
    // bottom: 965px;
}
.footer {
    top: 2350px;
}