* {
    margin: 0;
    padding: 0;
}

.breadcrumb {
    /* Rectangle 23 */
    display: block;
    width: 1600px;
    height: 148px;
    left: 0%;
    right: 0%;
    top: 75px;
    background: rgb(248, 243, 244);

    &__left {
        /* NEW ARRIVALS */
        // position: absolute;
        width: 194px;
        height: 29px;
        padding-left: 230px;
        padding-top: 59px;
        color: rgb(241, 109, 127);
        font-family: Lato;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
}
.form {
    /* Shipping Address */
   display: block;
    width: 360px;
    height: 149px;
    padding-left: 230px;
    padding-top: 64px;
    

    input {
        // display: block;
       flex-direction: column;
        gap: 30px;
        width: 360px;
        height: 45px;
    }

    .first {
        margin-top: 20px;
    }
    .last {
        margin-top: 20px;
    }
}

    .check {
        display: flex;
        flex-direction: row;
        width: 132px;
        height: 17px;
        left: 231px;
        top: 467px;
       
        
        .male {
            display: flex;
            width: 17px;
            height: 17px;
            padding-left: 250px;
            padding-top: 90px;
            gap: 20px;
            // bottom: 941px;
            
            input {
               
                width: 17px;
                height: 17px;
                margin-left: -20px;
            }  
        }
        .female {
            
            display: flex;
            width: 17px;
            height: 17px;
            padding-left: 70px;
            padding-top: 90px;
            gap: 20px;
            // margin-left: 20px;
            input {
                
                width: 17px;
                height: 17px;
                
            }
        }
    }
    .login {
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 300px;
        margin-left: 230px;
        margin-top: 130px;
        // bottom: 53.26%;
        .input {
            flex-direction: column;
            gap: 30px;
            width: 360px;
            height: 45px;
        }
        &__log {
            // flex-direction: column;
            width: 135.89px;
            height: 19px;
            top: 520px;
            left: 230px;
        }
        .e-mail {
            /* Vector */
            display: flex;
            width: 360px;
            height: 45px;
            left: 231px;
            // padding-top: 556px;
            margin-top: 20px;
            
            
        }
        .password {
            display: flex;
            width: 360px;
            height: 45px;
            left: 231px;
            top: 620px;
            margin-top: 20px;
            .input {
                flex-direction: column;
                gap: 30px;
                width: 360px;
                height: 45px;
            }
        }
        .instruction {
            width: 359px;
            height: 32px;
            left: 231px;
            margin-top: 20px;
            
        }
        .join {
    
            width: 167px;
            height: 40px;
            margin-top: 50px;
            left: 230px;
            background: rgb(241, 109, 127);
            width: 167px;
            height: 50px;
            
        }
        
    }

.loyalty {
    display: flex;
    flex-direction: column;
    width: 652px;
    height: 334px;
    margin-left: 718px;
    margin-top: -487px;
    h2 {
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    h3 {
        width: 652px;
        height: 68px;
        left: 718px;
        right: -718px;
        top: 338px;
        bottom: -62px;
        color: rgb(0, 0, 0);
        font-family: Lato;
        font-size: 24px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0%;
        text-align: left;
    }
    img {
        width: 20px;
        height: 16px;
        left: 110.12%;
        right: -13.19%;
        top: 126.65%;
        bottom: -31.44%;
    }
    .offer {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
    }
    
}


.footer {
    /* Rectangle 26 */
    position: absolute;
    width: 1600px;
    height: 448px;
    left: 0px;
    right: 0px;
    top: 880px;
    bottom: 0px;
}
.footer {
    &__top {
        display: flex;
        justify-content: center;
        width: 1600px;
        height: 341px;
        background-color: #222224;
        gap: 30px;

        &__img__1 {
            margin-top: 103px;
            padding-bottom: 28px;
        }

        &__img__2 {
            margin-top: 103px;
            padding-bottom: 19px;
        }

        &__img__3 {
            margin-top: 103px;
            padding-bottom: 25px;
        }

        &__text {
            color: #fbfbfb;
            font-family: Lato;
            font-size: 13.972px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 104px;

            &__big {
                color: #fbfbfb;
                font-family: Lato;
                font-size: 19.96px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding-bottom: 16px;
            }
        }

        &__left {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__mid {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &__right {
            max-width: 360px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    &__mid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 448px;
        background: rgba(244, 244, 244, 0.7);
        position: relative;

        &__background__img {
            z-index: -1;
            max-width: 100%;
            overflow: clip;
            position: absolute;
            object-fit: cover;
        }

        &__left {
            max-width: 360px;
            height: 225px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 228px;

            &__img {
                padding-bottom: 30px;
            }
        }

        &__left__text {
            color: #222224;
            text-align: center;
            font-family: Lato;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &__italic {
                font-style: italic;
            }
        }

        &__right {
            max-width: 557px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-right: 230px;

            &__header {
                color: #222224;
                font-family: Lato;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 167.2%;
                /* 40.128px */
            }

            &__text {
                color: #222224;
                font-family: Lato;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 167.2%;
                padding-left: 106px;
                padding-right: 106px;
                padding-bottom: 32px;
            }
        }
    }

    &__bott {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 79px;
        background-color: #222224;

        &__left {
            display: flex;
            color: #fbfbfb;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-left: 235px;
        }

        &__right {
            display: flex;
            margin-right: 230px;
            gap: 7px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    html{
        font-size: 32px;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.5rem;
    }
    .header{
        width: 100%;
        left: 0%;
        right: 0%;
    }
    .breadcrumb{
        width: 100%;
        // flex-direction: column;
        // left: 0%;
        // right: 0%;
        padding: 0 0;
    }
    .product__top{
        width: 100%;
    }
    .bott__content__containerc{
        // display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(3, 1fr);
        align-items: center;
        gap: 30px;
        width: 100vw;
        // height: 1749px;
        
    }
    .bot__content__conteiner__box{
        max-width: 360px;
        max-height: 581px;
        width: calc(100vw/2);
        left: 30%;
    }
    .pagination{
        bottom: -50px;
    }
    .footer{
        top: 3500px;
    }
    .footer__top{
        display: grid;
        grid-template-columns: repeat(3);
        height: max-content;
        
    }
    .footer__mid{
        display: grid;
        grid-template-columns: repeat(2);
        height: max-content;
        align-items: center;
    }
}